<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TimeKeepingAndPayroll", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Name"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Index", "Home")</li>
                    }
                    <li>@Html.ActionLink("Punch In", "Login", "Employees")</li>
                    @if (Session["Name"] != null)
                    {
                        if ((bool)Session["Manager"])
                        {
                            <li>@Html.ActionLink("Employees", "ViewEmployees", "Employees", new { id = Session["ID"] }, null)</li>
                        }
                        <li>@Html.ActionLink("Hours", "HoursWorked", "Attendances", new { id = Session["Name"] }, null)</li>
                    }
                    <li>@Html.ActionLink("Request Time Off", "Index", "TimeOffs")</li>
                    <li>@Html.ActionLink("Approve Time Off", "ManagerIndex", "TimeOffs")</li>
                    <li>@Html.ActionLink("Payroll", "EmployeeIndex", "Invoices")</li>
                    <li>@Html.ActionLink("Manage Payroll", "ManagerIndex", "Invoices")</li>
                    @if (Session["Name"] != null)
                    {
                        <li>@Html.ActionLink($"Logout of EID#{Session["Name"]}", "Logout", "Home", "HomeController", new { @style = "color: #dd0000;" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
