@model TimeKeepingAndPayroll.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPeriodStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPeriodStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPeriodEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPeriodEnd)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vacation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vacation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "EmployeeIndex")
        </div>
    }
</div>
